.flames{
    color:red;
    font-family: 'Palette Mosaic', cursive;
    font-size: 8rem;
}
#l{
    color:pink;
}
#a{
    color:blue;
}
#m{
    color:aqua;
}
#e{
    color:chartreuse;
}
#s{
    color:blueviolet;
}